@import url('https://fonts.googleapis.com/css2?family=Lato&family=Monoton&family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

}


a{
    text-decoration: none;

}

body{
    font-family: Lato, sans-serif;
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 100; /* Set a higher z-index value */
}
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px; /* Adjust spacing as needed */
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  /* Style the links on hover (optional) */

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.navbar-links a:hover {
    text-decoration: underline;
}

/* Center the content within the container */
.image-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
  }
  
  /* Style for the container div that holds the image and h3 */
  .centered-content {
    text-align: center; /* Center the text horizontally */
  }
  
  /* Style for the image */
  .centered-content img {
    display: block; /* Make the image a block element */
  }
  
  /* Style for the h3 text */
  .centered-content h4 {
    font-size: larger;
    color: #fff;
    margin: 5px 0px 80px; /* Remove default margins to control spacing */
  }

  .centered-heading {
    text-align: center;
    font-size: 38px; /* Adjust the font size as needed */
    color: #fff; /* White color */
    margin-bottom: 0; /* Remove the margin between centered-heading and image-with-text */
}

.image-with-text {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 10px; /* Reduce the margin between image-with-text and the following element */
}



  .image-with-text img {
    min-width: 180px;
    height: auto;
    float: left;
    margin: 0 20px 0 0;
  }
  .image-with-text p {
    margin-top: 10px; /* Reduce the top margin for the paragraph */
    text-align: justify;
    font-size: 20px;
    color: #fff;
}




  .image-with-text-2 {
    max-width: 50%;
    margin: 0 auto;
  }
  .image-with-text-2 img {
    min-width: 180px;
    height: auto;
    float: right;
    margin: 0 0 0 20px;
  }
  .image-with-text-2 p {
    text-align: justify;
    font-size: 20px;
    color: #fff;
  }










.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}

header .content h1 span{
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.7px #fff;
}

header .content p{
    color: #fff;
    font-weight: 500;
    font-family: Lato;
    margin-bottom: 2rem;

}

header .image{
    max-width: 90%;
    height: auto;
    position: relative;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.features .card{
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    padding-bottom: 10px;
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    text-align: center;
    color: #ccc;
    margin-bottom: 0.5rem;
}
.features .card .image img{
    align-items: center;
    max-width: 300px;
    height: auto;
}

.features .card:hover{
    transform: scale(1.1);
}
.features .card:hover .image img{
    opacity: 0;
}
.features .card:hover .image img.hover-image{
    opacity: 1;
}
.features .card .image img.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .features .card .default-text {
    display: block;
    opacity: 1;
  }
  
  .features .card .hover-text {
    display: none;
    opacity: 0;
  }
  
  .features .card:hover .default-text {

    display: none;
    opacity: 0;
  }
  
  .features .card:hover .hover-text {
    display: block;
    opacity: 1;
  }
  
  .features .card p {
    padding-top: 20px; /* Add space above the text */
    color: #ccc;
    margin-bottom: 0.5rem;
  }

  
  .container {
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .header {
    padding-top: 30px;
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
  }
  
  .sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Distribute items evenly with space between */
  }
  
  
  .teams {
    margin: 10px;
    padding: 22px;
    flex-basis: calc(25% - 20px); /* Set the flex basis to 25% of the container minus spacing */
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 12px;

  }
  
  .teams img {
    width: 200px;
    height: 200px;
  }
  
  .name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .desig {
    font-style: italic;
    color: #888;
  }
  
  .about {
    margin: 20px 0;
    font-weight: lighter;
    color: #dfdfdf;
  }

  @media screen and (max-width: 600px) {
    .teams {
      flex-basis: calc(50% - 20px); /* Adjust for smaller screens, 2 items per row */
    }
  }



  .hero{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;


}
form{
    width: 90%;
    max-width: 600px;

}

.input-group{
    margin-bottom: 30px;
    position: relative;

}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s ease;
}

.submit_btn{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;

}

input:focus~label,input:valid~label{
    top: -35px;
    font-size: 14px;
}

textarea:focus~label,textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
    

}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 230px;
}


@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}